body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: black; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.cards {
  border: 1px solid black;
  height: 240px;
  position: relative;
  width: 180px;
  top: 50px;
}
.img-wrapper img {
  height: 150px;
  width: 100%;
  border: 1px solid black;
}
.cart-btn {
  height: 30px;
  width: 110px;
  text-align: center;
  background-color: red;
}

.add-to-cart img {
  height: 40px;
  width: 40px;
  right: -46%;
  top: 15px;
  position: relative;
}
